input {
	outline: none !important;
}
.input-box {
    margin-bottom: 20px;

    label {
	    display: block;
	    font-size: 28px;
	    color: #f37a29;
	    margin-bottom: 10px;

	    &.error {
		    font-size: 16px;
		    margin-top: 10px;
		    color: #000;
		    letter-spacing: 2px;
		    position: relative;

		    &::before {
			    content: '';
			    display: inline-block;
			    background-color: #da1313;
			    width: 12px;
			    vertical-align: top;
			    height: 12px;
			    border-radius: 30px;
			    margin-top: 2px;
			    margin-right: 10px;
		    }
	    }
    }

	.outros-input input[type="text"] {
	    padding: 10px;
	    margin-top: 10px;
	    width: 100%;
	    max-width: 300px;
	}

	input[type="text"] {
	    display: block;
	    width: 100%;
	    border: 2px solid #f37a29;
	    padding: 20px;
	    font-size: 18px;
	    color: #f37a29;
	}
}

.second-step-B2C {
	display: none;
}
.second-step-B2B {
	display: none;
}

.outros-input label.error {
    font-size: 16px;
    margin-top: 10px;
    color: #000;
    letter-spacing: 2px;
    margin-left: 0;
}