input {
	outline: none !important;
}
input[type="radio"], input[type="checkbox"] {
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 5px;
}
.input-box {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    letter-spacing: 0.5px;
    
    label {
	    display: block;
	    font-size: 20px;
	    color: #FFF;
	    margin-bottom: 20px;

	    &.error {
			font-size: 16px;
			margin-top: 10px;
			line-height: 19px;
			color: #ff3636;
			letter-spacing: 2px;
			position: relative;
			padding: 10px;
			background-color: #000;

		    &::before {
			    content: '';
			    display: inline-block;
			    background-color: #e73636;
			    width: 12px;
			    vertical-align: middle;
			    height: 12px;
			    border-radius: 30px;
			    margin-top: -3px;
			    margin-right: 10px;
		    }
	    }
    }

	.outros-input input[type="text"] {
	    padding: 10px;
	    margin-top: 10px;
	    width: 100%;
	    max-width: 300px;
	}

	input[type="text"] {
	    display: block;
	    width: 100%;
	    border: 2px solid #f37a29;
	    padding: 20px;
	    font-size: 18px;
	    color: #f37a29;
	}
}

.second-step-B2C {
	display: none;
}
.second-step-B2B {
	display: none;
}

.outros-input label.error {
	font-size: 16px;
	margin-top: 10px;
	line-height: 19px;
	color: #ff3636;
	letter-spacing: 2px;
	position: relative;
	padding: 10px;
	background-color: #000;
}
#obrigado-box {
	padding: 30px;
	display: none;
	@media screen and ( max-width: 480px ) {
		padding: 30px 0;
	}

	.title {
	    font-size: 50px;
	    line-height: 60px;
	    color: #FFF;
	    font-weight: bold;
	    margin-bottom: 20px;
	}

	.desc {
	    font-size: 28px;
	    font-weight: 300;
	    color: #FFF;
	    margin-bottom: 40px;
	}

	.share-links {

		p {
		    font-size: 23px;
		    letter-spacing: 1px;
		    margin-bottom: 30px;
		}

		ul li {
		    display: inline-block;
		    margin-right: 30px;
		    &:last-child {
		    	margin-right: 0;
		    }
		    @media screen and ( max-width: 480px ) {
				img {
					width: 45px;
				}
		    }
		}
	}
}