input {
	outline: none !important;
}
input[type="radio"], input[type="checkbox"] {
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 5px;
}


label {
    display: block;
    font-size: 18px;
    color: #FFF;
    margin-bottom: 10px;
    margin-top: 30px;

    &.error {
		font-size: 16px;
		margin-top: 10px;
		line-height: 19px;
		color: #ff3636;
		width: 100%;
		letter-spacing: 2px;
		position: relative;
		padding: 10px;
		background-color: #000;

	    &::before {
		    content: '';
		    display: inline-block;
		    background-color: #e73636;
		    width: 12px;
		    vertical-align: middle;
		    height: 12px;
		    border-radius: 30px;
		    margin-top: -3px;
		    margin-right: 10px;
	    }
    }
}
input[type="text"],
input[type="email"] {
    display: block;
    width: 100%;
    border: 1px solid #666;
    padding: 8px 10px;
    font-size: 18px;
    color: #666;
}

.mc-field-group.input-group {
	display: block;
	margin-top: 30px;
	strong {
		display: block;
		font-size: 20px;
		color: #FFF;
		margin-bottom: 20px;
		margin-top: 30px;	
	}
	label {
	    display: inline-block;
	    margin: 0 0 5px 6px;
    }
}

#mc-embedded-subscribe {
    margin-top: 30px;
    padding: 13px 20px;
    color: #FFF;
    background-color: #6d5b97;
    font-size: 22px;
    border: 1px solid #C3B9D5;
    font-weight: 400;
    width: 100%;
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer;
    max-width: 100%;
    transition: 0.4s all;
	&:hover {
	    background-color: #4b3d6d;
	}
}

.second-step-B2C {
	display: none;
}
.second-step-B2B {
	display: none;
}

.outros-input label.error {
	font-size: 16px;
	margin-top: 10px;
	line-height: 19px;
	color: #ff3636;
	letter-spacing: 2px;
	position: relative;
	padding: 10px;
	background-color: #000;
}
#obrigado-box {
	padding: 30px;
	display: none;
	@media screen and ( max-width: 480px ) {
		padding: 30px 0;
	}

	.title {
	    font-size: 50px;
	    line-height: 60px;
	    color: #FFF;
	    font-weight: bold;
	    margin-bottom: 20px;
	}

	.desc {
	    font-size: 28px;
	    font-weight: 300;
	    color: #FFF;
	    margin-bottom: 40px;
	}

	.share-links {

		p {
		    font-size: 38px;
		    letter-spacing: 1px;
		    margin-bottom: 30px;
		    margin-top: 60px;
		    color: #FFF;

		    @media screen and ( max-width: 575px ) {
		    	font-size: 30px;
		    }
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
	    	li {
			    display: inline-block;
			    margin-right: 30px;
			    &:last-child {
			    	margin-right: 0;
			    }
			    @media screen and ( max-width: 575px ) {
					img {
					    width: 90px;
					}
			    }

			    &.whatsapp-share {
		    		@media screen and ( max-width: 767px ) {
						display: inline-block !important;
		    		}
			    }
			}
		}
	}
}

.radio-input-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	@media (max-width: 767px) {
	    flex-direction: column;
	    align-items: center;
	}
    small {
	    font-size: 18px;
	    display: block;
	    color: #FFF;
	    margin-bottom: 40px;
    }
	input {
	    position: absolute !important;
	    clip: rect(0, 0, 0, 0);
	    height: 1px;
	    width: 1px;
	    border: 0;
	    overflow: hidden;
		&:checked + .label {
		    background-color: #353535;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		}
	}
	.label {
	    display: inline-block;
	    width: 45%;
	    padding: 24px 5px;
	    margin-right: -4px;
	    vertical-align: middle;
	    background-color: #6d5b97;
	    color: #FFF;
	    border-radius: 10px;
	    font-size: 30px;
	    font-weight: normal;
	    text-align: center;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition:    all 0.1s ease-in-out;
		-ms-transition:     all 0.1s ease-in-out;
		-o-transition:      all 0.1s ease-in-out;
		transition:         all 0.1s ease-in-out;
		&:hover {
		    cursor: pointer;
		}

		@media (max-width: 767px) {
		    padding: 20px 5px;
		    font-size: 22px;
	        width: 80%;
		}
	}
}