.n-p-l {
	padding-left: 0 !important;
}

.n-p-r {
	padding-left: 0 !important;
}

.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
    display: block;
    max-width: 100%;
}