/* body {
    font-family: 'Futura W01', helvetica, san-serif;
    line-height: 1;
    font-size: 100%;
    color: rgba(12, 12, 10, 0.8);
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
} */